@import "message";

.chat {
  background-color: $deepBlue;
  display: grid;
  grid-template: 1fr 30px / 1fr;
  grid-gap: 15px;
  .chat-column {
    &:first-child {
      overflow: hidden;
      box-sizing: border-box;
      .chat-log {
        overflow-y: auto;
        box-sizing: border-box;
        border-radius: 20px;
        box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.5);
        height: 100%;
        border-radius: 20px;
        padding: 10px;
        background-color: $white;
        ul {
          display: flex;
          flex-direction: column;
        }
      }
    }
    &:last-child {
      input {
        box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.5);
        &:first-child {
          width: 80%;
          height: 30px;
          border-radius: 30px 0px 0px 30px;
          padding: 10px;
        }
        &:last-child {
          width: 20%;
          height: 30px;
          border-radius: 0px 30px 30px 0px;
          background-color: $blue;
          color: $deepBlue;
          font-size: 20px;
        }
      }
    }
  }
  .login {
    form {
      margin-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      input {
        animation: appearUp 1s ease-in-out forwards;
        box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.5);
        &:first-child {
          width: 80%;
          height: 30px;
          border-radius: 30px 0px 0px 30px;
          padding: 10px;
        }
        &:last-child {
          width: 20%;
          height: 30px;
          border-radius: 0px 30px 30px 0px;
          background-color: $blue;
          color: $deepBlue;
          font-size: 20px;
        }
      }
    }
    display: none;
  }
  &.loggedOut {
    .login {
      display: block;
    }
  }
}
